header {
  margin-bottom: 1em;
  border-bottom: 1px solid lightslategray;
  background-color: slategray;
  z-index: 100;
  box-shadow: 0 0 5px darkslategrey;
}

h1 {
  margin: 0;
  padding: .5em;
  font-size: 2.5em;
  text-align: center;
  letter-spacing: 3px;
  color: darkslategray;
  font-family: 'Exo', sans-serif;
}
