main {
  padding: 1em 2em;
  -webkit-box-flex: 75%;
      -ms-flex: 75%;
          flex: 75%;
  height: 500px;
  margin-left: 1em;
  border: 1px solid black;
  background-color: magenta;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}
