div {
  border: 1px solid black;
}

.piece_container {
  position: relative;
  cursor: pointer;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-perspective-origin: 50% 0%;
          perspective-origin: 50% 0%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}



.piece_container:hover {
  box-shadow: 0 0 5px black;
}

.piece_front,
.piece_back {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}


.piece_back {
  background-size: 3em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-transform: rotateX( -180deg);
  /* Upends backPiece, so when flips back over, its rightside up */
  transform: rotateX( -180deg);
}

.flip {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
